@use "sass:map";
@import 'variables';

body {
  margin: 0;
  padding: 0;
  background-color: map-get($root-settings, color-dark-grey);
  font-family: map-get($root-settings, font-family-main);
  font-size: map-get($root-settings, font-size-main);
  background-image: map-get($theme, theme-default-bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;

  img {
    display: block;
  }

  .header__text {
    line-height: 1.7;
    font-size: map-get($root-settings, font-size-header);
    text-shadow: 0 0 2px map-get($root-settings, color-black);
    color: map-get($theme, theme-default-header);
    transition: color map-get($root-settings, transition);
  }
}