@import '../../styles/variables';
@use "sass:map";

.wrapper {
  max-width: map-get($root-settings, width-max);
  margin: auto;
  padding: map-get($root-settings, spacing-large) 0;
}

@media screen and (max-width: 1400px) {
  .wrapper {
    padding: map-get($root-settings, spacing-large);
  }
}